*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#312e81,#4c1d95);
font-family:Tahoma,sans-serif;
overflow:hidden;
}

.container{
text-align:center;
color:white;
}

h1{
margin-bottom:20px;
}

.envelope{
width:300px;
height:190px;
background:#e7c79f;
position:relative;
margin:auto;
cursor:pointer;
border-radius:8px;
box-shadow:0 15px 30px rgba(0,0,0,.4);
}

.flap{
position:absolute;
top:0;
left:0;
width:0;
height:0;
border-left:150px solid transparent;
border-right:150px solid transparent;
border-top:100px solid #d8b07d;
transform-origin:top;
transition:1s;
}

.letter{
position:absolute;
left:15px;
top:20px;
width:270px;
height:160px;
background:white;
border-radius:8px;
padding:15px;
transform:translateY(110px);
transition:1s;
overflow:auto;
color:#222;
}

.open .flap{
transform:rotateX(180deg);
}

.open .letter{
transform:translateY(-60px);
}

p{
margin-top:20px;
font-size:20px;
}
